/*
Default Skin Color settings
*/


/********************************************************************************************************************/
/******************************************** NAVIGATION ************************************************************/
/********************************************************************************************************************/

/*.main-navigation.navbar {
  margin-bottom: 0;
  background: #fff;
 }
 .main-navigation .navbar-inner {
	background: #fff;
	box-shadow: none;
	border-radius: 0;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: -1px;
  	border: 1px solid #ddd;
	filter: none!important;
 }
 .main-navigation .menu-primary-container {
	padding-left: 20px;
	padding-right: 20px;
 }
 .main-navigation .nav > li > a {
  color: #6098bf;
  text-shadow: none;
 }
 .main-navigation .nav > li > a:hover {
  color:  #005580;
 }
 .main-navigation .nav .active > a,
 .main-navigation .nav .active > a:hover,
 .main-navigation .nav .current_page_item > a,
 .main-navigation .nav .current_page_item > a:hover {
  color: #FFFFFF;
  background: #0088CC;
 }
 .main-navigation .nav li.dropdown .dropdown-toggle .caret,
 .main-navigation .nav li.dropdown.open .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
 }
 .main-navigation .nav li ul li ul {
  list-style: none;
  margin-left: 0;
 }
 .main-navigation .nav li ul li ul li a{
  padding-left: 18px;
 }
 .main-navigation .nav li.current_page_item {
  background: #0088CC;
 }
 .main-navigation ul > li.current_page_item > a {
  color: #FFFFFF;
 }
 .main-navigation .nav li.dropdown:hover ul.dropdown-menu {
  display: block;
 }*/

/********************************************************************************************************************/
/******************************************** MAIN CONTENT **********************************************************/
/********************************************************************************************************************/

article.post, article.page, article.attachment {
  border: 1px solid #ddd;
}
.more-content {
  border: 1px solid #DDD;
}
.comments-area {
  border: 1px solid #ddd;
}

/********************************************************************************************************************/
/******************************************** SIDEBAR & WIDGETS *****************************************************/
/********************************************************************************************************************/

.widget-container {
  border: 1px solid #ddd;
}

/********************************************************************************************************************/
/******************************************** FOOTER ****************************************************************/
/********************************************************************************************************************/

#footer-widget-container {
  border: 1px solid #ddd;
}

/********************************************************************************************************************/
/******************************************** ELEMENTS **************************************************************/
/********************************************************************************************************************/

/*====================================== BOX ======================================================*/

.box {
  border: 1px solid #ddd;
}

/*==================================== SLIDER =====================================================*/

#slider {
  border: 1px solid #ddd;
}

/*==================================== TWITTER ====================================================*/

#twitter-bar {
  border: 1px solid #ddd;
}

/*=================================== BREADCRUMBS =================================================*/

.breadcrumbs {
  border: 1px solid #ddd;
}

/*==================================== PORTFOLIO ==================================================*/

#gallery {
  border: 1px solid #ddd;
}

#gallery ul.row-fluid li#portfolio_wrap img {
  border: 1px solid #ddd;
}